<% if page_item.gallery %>
	 <div class="col-xs-12 page_item" id="page_item_<%= page_item.id %>" data-id="<%= page_item.id %>" data-gallery="true">
		<div class="list-group-item " >
			
			<div class="page-header">
				<h4 class="list-group-item-heading">
					<i class="fa fa-puzzle-piece text-muted"></i>&nbsp;
					Gallery 
				</h4>
			</div>

			
			<div class="row" id="gallery_<%= page_item.id %>">
				<% if page_item.has_children? %>
					<%= nested_page_items(page_item.children) %>
				<% else %>
					<div class="col-xs-12" id="empty_gallery_<%= page_item.id %>">
						<div class="alert alert-info">
							<strong>No items added:</strong> Add photos or pages with the buttons bellow.
						</div>
					</div>
				<% end %>
			</div>

			<div class="list-item-footer">
				<%= link_to photos_gallery_modal_path(:page_id => page_item.page_id, :page_item_id => page_item.id ), remote: true, class: "btn btn-default" do %>
					<i class="fa fa-picture-o"></i> <span class="hidden-xs">Photos</span>
				<% end %>
				<%= link_to pages_gallery_modal_path(:page_id => page_item.page_id, :page_item_id => page_item.id ), remote: true, class: "btn btn-default" do %>
					<i class="fa fa-file-text-o"></i> <span class="hidden-xs">Pages</span>
				<% end %>
				<%= link_to page_item_settings_path(page_item), remote: true, class: "btn btn-default" do %>
					<i class="fa fa-cogs"></i> <span class="hidden-xs">Settings</span>
				<% end %>
				<%= link_to page_item, method: :delete, remote: true, class: "btn btn-default" do %>
					<i class="fa fa-trash-o"></i> <span class="hidden-xs">Delete</span>
				<% end %>

				<span class="pull-right">
					<%= link_to "#", class: "btn btn-default order-up", data: { page_item: "#page_item_#{page_item.id}", sort_url: sort_page_items_path() } do %>
						<i class="fa fa-caret-up"></i>
					<% end %>
					<%= link_to "#", class: "btn btn-default order-down", data: { page_item: "#page_item_#{page_item.id}", sort_url: sort_page_items_path() } do %>
						<i class="fa fa-caret-down"></i>
					<% end %>
				</span>
			</div>

		</div>
	</div>
<% end %>