<% if page_item.is_type == "Page"  %>

	<div class="col-xs-12 col-sm-6 col-md-4 <%= page_item.parent.nil? ? 'page_item' : "structure_item_#{page_item.parent.id}" %>  space-down" id="page_item_<%= page_item.id %>" data-id="<%= page_item.id %>" data-structure-id="<%= page_item.parent.try(:id) %>" >
		
		<div class="thumbnail">
		
            <% if page_item.pageable.photo %>
                <%= image_tag page_item.pageable.photo.image_url(:small_thumb), class: "img-responsive"%>
            <% else %>
                <%= image_tag "default/large_thumb_no-thumb.png", class:  page_item.root? ? "img-responsive"  : "img-responsive handle_gallery" %>
            <% end %>
		
    		<div class="caption">
				<h4 class="list-group-item-heading">
					<i class="fa fa-file-text-o fa-fw text-muted"></i> <%= page_item.title %>
					<%= f.fields_for :page_items, page_item do |f| %>
						<span class="pull-right">
				            <%= f.hidden_field :_destroy %>
				            <%= link_to '#', class: "remove_fields", data: { type_id: "#page_item_#{page_item.id}" } do %>
				                <i class="fa fa-trash-o fa-fw"></i>
				            <% end %>
				        </span>
					<% end %>
				</h4>
			</div>
		</div>


		<span class="pull-right">
			<%= link_to "#", class: "btn btn-default order-up", data: { page_item: "#page_item_#{page_item.id}"}  do %>
				<i class="fa fa-caret-up"></i>
			<% end %>
			<%= link_to "#", class: "btn btn-default order-down", data: { page_item: "#page_item_#{page_item.id}"}  do %>
				<i class="fa fa-caret-down"></i>
			<% end %>
		</span>

	</div>

<% end %>