<div calss="form-inline">
    <table class="dataTables_wrapper table table-striped">
      <thead>
        <tr>
          <th>Subject</th>
          <th>Content</th>
          <th>Sender email</th>
          <th>Sender name</th>
          <th>Sent at</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @messages.each do |message| %>
          <tr>
            <td><%= message.subject %></td>
            <td><%= message.content %></td>
            <td><%= message.sender_email %></td>
            <td><%= message.sender_name %></td>
            <td><%= message.created_at.strftime('%d.%m.%Y %H:%m') unless message.created_at.blank? %></td>
            <td>
                <span class="pull-right">
                  <%= link_to 'Show', message, class: "btn btn-default" %>
                  <%= link_to 'Edit', edit_message_path(message), class: "btn btn-default"  %>
                  <%= link_to 'Destroy', message, method: :delete, class: "btn btn-default" , data: { confirm: 'Are you sure?' } %>
                </span>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>