<%= form_for(@public_theme) do |f| %>
  <% if @public_theme.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@public_theme.errors.count, "error") %> prohibited this public_theme from being saved:</h2>

      <ul>
      <% @public_theme.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :zip %><br>
    <%= f.text_field :zip %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
