<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h4 class="modal-title">Menu</h4>
</div>

<%= form_for(@menu) do |f| %>
  <div class="modal-body">
    <div class="error-container">
        <%= render partial: 'shared/form_errors', :locals => {:item => @menu} %>
    </div>

    <div class="form-group">
      <%= f.label :name, "Menu name" %>
      <%= f.text_field :name, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :slug, "Menu Slug" %>

      <%= f.select :slug, 
        [['Main Menu', 'main_menu'], 
        ['Secondary Menu', 'secondary_menu'], 
        ['Social Menu', 'social_menu'], 
        ['Menu 4', 'menu_4'], 
        ['Menu 5', 'menu_5'], 
        ['Menu 6', 'menu_6'], 
        ['Menu 7', 'menu_7'],  
        ['Menu 8', 'menu_8'], 
        ['Menu 9', 'menu_9'], 
        ['Menu 10', 'menu_10'],], 
        { :include_blank => true },
        { :class => "form-control"} %>

      <span class="help-block">The slug identifies which menu slot the menu occupies in the theme.</span>
    </div>

  </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= f.submit class: "btn btn-primary" %>
    </div>
<% end %>
