<%= form_for(@menu) do |f| %>
    <div class="error-container">
        <%= render partial: 'shared/form_errors', :locals => {:item => @menu} %>
    </div>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <%= f.fields_for :menu_items do |menu_item| %>
      <div class="field">
        <%= menu_item.label :name,  "Menu item name" %><br>
        <%= menu_item.text_field :name %>
      </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
