<div class="row space-down menus">

    <div class="col-xs-12 col-sm-4 pull-left menu_item_list">
        <h3>Pages</h3>
        <div class="list-group">
            <% Page.all.each do |page| %>
                <%= link_to add_page_to_menu_path(:id => page.id, :menu_id => @menus.first), :remote => true, :method => :post, class: "list-group-item add-to-menu" do %>
                    <i class="fa fa-file-text-o fa-fw text-muted"></i> <%= page.title %>
                    <span class="pull-right text-muted"><i class="fa fa-plus-circle"></i></span>
                <% end %> 
            <% end %>

        </div>
        <h3>Tags</h3>
        <div class="list-group">
            <% Tag.all.each do |tag| %>
                <%= link_to add_tag_to_menu_path(:id => tag.id, :menu_id => @menus.first), :remote => true, :method => :post, class: "list-group-item add-to-menu" do %>
                    <i class="fa fa-tags fa-fw text-muted"></i> 
                    <%= tag.name %></i>
                    <span class="pull-right text-muted"><i class="fa fa-plus-circle"></i></span>
                <% end %>
            <% end %>
        </div>
    </div>

    <div class="col-xs-12 col-sm-8 pull-right">
        <ul class="nav nav-pills">
            <% @menus.each do |menu| %>
            <li class="<%= "active" if @menus.first == menu %>">
                <%= link_to menu.name, "#", class: "tab", :data => { :menu_id => menu.id, :menu => menu.name.gsub(' ', '_').downcase } %>
            </li>   
            <% end %>
            <li><%= link_to 'New Menu', new_menu_path %></li>
        </ul>
    </div>

    <div class="col-xs-12 col-sm-8 pull-right">
        <% @menus.each do |menu| %>
            <div class="dd <%= "#{menu.name.gsub(' ', '_').downcase}" %> tabbable" id="menu_<%= menu.id %>" >

                <ol id="menu_<%= menu.id %>" class=" dd-list list-group">
                    <%= nested_menu_items(menu.menu_items.arrange(:order => :position)) %>
                </ol>

                <div class="menu-footer clearfix">
                    <%= link_to 'Save menu', '#', class: "btn btn-primary pull-right save-menu", data: { menu: "\#menu_#{menu.id}", update_url: sort_menu_items_path(menu), loading_text: "Saving menu..." }%>
                </div>
            </div>

        <% end %>
    </div>

    
    <div class="col-xs-12 col-sm-8 pull-right" id="tester">

    </div>

</div>