<p id="notice"><%= notice %></p>

<p>
  <h1><%= @menu.name %></h1>
  <% @menu.menu_items.each do |menu_item| %>
  	<%= link_to menu_item.name, polymorphic_url(menu_item.menuable)%><br>
  <% end %>
</p>

<%= link_to 'Edit', edit_menu_path(@menu) %> |
<%= link_to 'Back', menus_path %>
