<%= form_for(@public_code_file) do |f| %>
  <% if @public_code_file.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@public_code_file.errors.count, "error") %> prohibited this public_code_file from being saved:</h2>

      <ul>
      <% @public_code_file.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :public_theme_id %><br>
    <%= f.text_field :public_theme_id %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :code %><br>
    <%= f.text_area :code %>
  </div>
  <div class="field">
    <%= f.label :hierarchy %><br>
    <%= f.text_field :hierarchy %>
  </div>
  <div class="field">
    <%= f.label :available_to %><br>
    <%= f.text_field :available_to %>
  </div>
  <div class="field">
    <%= f.label :available_in %><br>
    <%= f.text_field :available_in %>
  </div>
  <div class="field">
    <%= f.label :static_file %><br>
    <%= f.text_field :static_file %>
  </div>
  <div class="field">
    <%= f.label :display_name %><br>
    <%= f.text_field :display_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
