<h1>Listing public_code_files</h1>

<table>
  <thead>
    <tr>
      <th>Public theme</th>
      <th>Name</th>
      <th>Code</th>
      <th>Hierarchy</th>
      <th>Available to</th>
      <th>Available in</th>
      <th>Static file</th>
      <th>Display name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @public_code_files.each do |public_code_file| %>
      <tr>
        <td><%= public_code_file.public_theme %></td>
        <td><%= public_code_file.name %></td>
        <td><%= public_code_file.code %></td>
        <td><%= public_code_file.hierarchy %></td>
        <td><%= public_code_file.available_to %></td>
        <td><%= public_code_file.available_in %></td>
        <td><%= public_code_file.static_file %></td>
        <td><%= public_code_file.display_name %></td>
        <td><%= link_to 'Show', public_code_file %></td>
        <td><%= link_to 'Edit', edit_public_code_file_path(public_code_file) %></td>
        <td><%= link_to 'Destroy', public_code_file, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Public code file', new_public_code_file_path %>
