<p id="notice"><%= notice %></p>

<p>
  <strong>Public theme:</strong>
  <%= @public_code_file.public_theme %>
</p>

<p>
  <strong>Name:</strong>
  <%= @public_code_file.name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @public_code_file.code %>
</p>

<p>
  <strong>Hierarchy:</strong>
  <%= @public_code_file.hierarchy %>
</p>

<p>
  <strong>Available to:</strong>
  <%= @public_code_file.available_to %>
</p>

<p>
  <strong>Available in:</strong>
  <%= @public_code_file.available_in %>
</p>

<p>
  <strong>Static file:</strong>
  <%= @public_code_file.static_file %>
</p>

<p>
  <strong>Display name:</strong>
  <%= @public_code_file.display_name %>
</p>

<%= link_to 'Edit', edit_public_code_file_path(@public_code_file) %> |
<%= link_to 'Back', public_code_files_path %>
