<div class="row people">
    <div class="col-xs-12 new-link">

    </div>

    <div class="clearfix">
        <div class="person col-xs-6  col-sm-4 col-lg-3">
            <%= link_to new_person_path, class: "" do %>
                <%= image_tag "default/thumb_no-thumb.png", class: "img-responsive  img-circle" %>
            <% end %>
            <br>
            <h3 class="listed-page-header text-center">
                <%= link_to new_person_path, class: "text-muted" do %>
                    New Person...
                <% end %>
            </h3>
        </div>
      <% @people.each do |person| %>
            <div class="person col-xs-6  col-sm-4 col-lg-3">
                <%= link_to edit_person_path(person), class: "" do %>
                    <% if person.photo %>
                        <%= image_tag person.photo.image_url(:thumb).to_s, class: "img-responsive img-circle" %>
                    <% else %>
                        <%= image_tag "default/thumb_no-thumb.png", class: "img-responsive  img-circle" %>
                    <% end %>
                <% end %>
                <br>
                <h3 class="listed-page-header text-center">
                    <%= link_to edit_person_path(person) do %>
                        <%= person.name %>
                    <% end %>
                </h3>
            </div>
            <% if (@people.index(person)+2) % 4 == 0 %>
                <div class="clearfix visible-lg"></div>
            <% end %>
            <% if (@people.index(person)+2) % 3 == 0 %>
                <div class="clearfix visible-sm visible-md"></div>
            <% end %>
            <% if (@people.index(person)+2) % 2 == 0 %>
                <div class="clearfix visible-xs"></div>
            <% end %>
      <% end %>
    </div>
    <% if @people.empty? %>
        <div class="col-xs-12">
            <%= link_to new_person_path do %>
                <div class="alert alert-info">
                    <p>
                        <strong>No people created: </strong>To add new person click here.
                    </p>
                </div>
            <% end %>
        </div>
    <% end %>

</div>
