<%= form_for(@theme) do |f| %>

  <%= render partial: 'shared/form_errors', :locals => {:item => @theme} %>

    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :zip %><br>
      <%= f.file_field :zip %>
      <%= f.hidden_field :zip_cache %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
    
<% end %>
