<div id="themes" class="clearfix">
<%= form_for(@theme) do |f| %>

  <div class="error-container">
    <%= render partial: 'shared/form_errors', :locals => {:item => @theme} %>
  </div>
  
  <div>
    <div class="theme">
      <% if @theme.new_record? %>
        <%= f.label :zip, class: "theme-file-field-label" do %>
          <table>
              <tr>
                  <td>
                      Select theme zip file... (click here)
                  </td>
              </tr>
          </table>
          <% end %>
      <% else %>
        <%= f.label :zip, class: "theme-file-field-label hover-preview-theme-edit" do %>
          <%= image_tag theme_preview_image(@theme), class: "theme-preview-image", size: "480x270" %>
        <% end %>
      <% end %>
    </div>
    <div class="theme">
      <div class="field">
        <%= f.text_field :name, placeholder: "Theme name", class: "new-theme-name" %>
        <%= f.file_field :zip, class: "theme-file-field" %>
        <%= f.hidden_field :zip_cache %>
      </div>
      <div class="field">
      </div>
      <div class="actions">
        <% if @theme.new_record? %>
          <%= f.submit "Upload theme", class: "submit-theme-button" %>
        <% else %>
          <%= f.submit "Save changes", class: "submit-theme-button" %>
          <span class="delete-theme-link">| <%= link_to 'Delete theme', @theme, method: :delete, data: { confirm: 'Are you sure?' } %></span>
        <% end %>
      </div>
    </div>
  </div>
    
<% end %>
</div>