<div id="themes" class="clearfix">
    <% if current_user.theme %>
    <div class="current-theme clearfix">
        <div class="theme">
            <%= image_tag theme_preview_image(current_user.theme), class: "theme-preview-image" %>
            
        </div>
        <div class="current-theme-text clearfix">
            <h1 class="current-theme-header"><%= current_user.theme.name %></h1>
            <h2 class="current-theme-sub">Current theme</h2>
            <div class="current-theme-controls">
                <%= link_to 'Edit', edit_theme_path(current_user.theme) %> 
                | <%= link_to  "Upload new theme...", new_theme_path, class: "new-theme-link" %>
            </div>
        </div>
    </div>
    <% else %>
    <div class="current-theme clearfix">
        <div class="theme">
            <p>No themes Uploaded yet</p>
        </div>
    </div>
    <% end %>
        <div>
            <h1 class="themes-index-header">Your Themes</h1>
            <% @themes.each do |theme| %>
                <div class="theme">
                    <% theme.zip_url %>
                    <%= image_tag theme_preview_image(theme), class: "theme-preview-image", size: "480x270" %>
                    <h2 class="theme-header"><%= theme.name %></h2>
                    <div class="theme-controls">
                        <% if theme.user.theme_id != theme.id %>
                            <%= link_to 'Activate theme', select_theme_path(theme), data: { confirm: 'Are you sure you want to activate this Theme?' } %> |
                        <% end %>
                        <%= link_to 'Edit', edit_theme_path(theme) %> 
                        <% if theme.user.theme_id != theme.id %>
                            | <%= link_to 'Destroy', theme, method: :delete, data: { confirm: 'Are you sure?' } %>
                        <% end %>
                    </div>
                </div>
            <% end %>
        </div>

    <div class="theme">
        <%= link_to new_theme_path, class: "new-theme-link" do %>
        <table>
            <tr>
                <td>
                    Upload new theme
                </td>
            </tr>
        </table>
        <% end %>
    </div>
</div>