<h1>Your Themes</h1>


    <div>
        <% @themes.each do |theme| %>
            <div class="theme">
                <%= theme.name %>
                <%= theme.zip_url %>
                <%= link_to 'Select', theme %>
                <%= link_to 'Edit', edit_theme_path(theme) %>
                <%= link_to 'Destroy', theme, method: :delete, data: { confirm: 'Are you sure?' } %>
            </div>
        <% end %>
    </div>


<%= link_to 'New Theme', new_theme_path, class: "new-theme-link" %>
