
<li class="dd-item" id="item_<%= menu_item.id %>" data-id="<%= menu_item.id %>">
	<div class="dd-handle">
	    <i class="fa fa-bars fa-fw text-muted"></i>
	</div>
	<span class="menu-item-name"><%= menu_item.name %></span>
	<span class="">
		<%= link_to edit_menu_item_path(menu_item), :remote => true, class: "btn btn-link" do %>
			<i class="fa fa-pencil-square text-muted"></i>
		<% end %>
		<%= link_to menu_item, method: :delete, :remote => true, class: "btn btn-link pull-right" do %>
	  		<i class="fa fa-trash-o"></i>
	    <% end %>
	</span>
    <%= content_tag(:ol, nested_menu_items(sub_item), class: "dd-list") if sub_item.present? %>
</li>