
<li class="dd-item" id="item_<%= menu_item.id %>" data-id="<%= menu_item.id %>">
	<div class="dd-handle">
	    <i class="fa fa-bars fa-fw text-muted"></i>
	</div>
	<%= menu_item.name %>

	<%= link_to menu_item, method: :delete, :remote => true, class: "badge list-badge pull-right" do %>
        <i class="fa fa-times"></i>
    <% end %>
    <%= content_tag(:ol, nested_menu_items(sub_item), class: "dd-list") if sub_item.present? %>
</li>