<p id="notice"><%= notice %></p>

<p>
  <strong>Menu:</strong>
  <%= @menu_item.name %>
  <br>
  <%= @menu_item.description %>
  <br>
  <%= link_to "go to item", polymorphic_path(@menu_item.menuable)%>
</p>

<%= link_to 'Edit', edit_menu_item_path(@menu_item) %> |
<%= link_to 'Back', menu_items_path %>
