	
<div class="row">
	<div class="col-xs-8 col-xs-offset-2  col-sm-6 col-sm-offset-3  col-lg-4 col-lg-offset-4">
		<%= form_for @user do |f| %>
			<%= render partial: 'shared/form_errors', :locals => {:item => @user, :container => false} %>

			<div class="page-header">
				<h4>Basic information</h4>
			</div>
			<div class="form-group">
				<%= f.label :first_name %>
				<%= f.text_field :first_name, class: "form-control"  %>
			</div>
			<div class="form-group">
				<%= f.label :last_name %>
				<%= f.text_field :last_name, class: "form-control"  %>
			</div>
			<div class="form-group">
				<%= f.label :email, "Email:" %>
				<%= f.text_field :email, class: "form-control"  %>
			</div>

			<div class="form-group">
				<%= f.label :username, "Username:" %>
				<%= f.text_field :username, class: "form-control"  %>
			</div>

			<%= f.submit "Save changes", class: "btn btn-primary" %>
		<% end %>
		<br>
		<% if @user.admin? %>
		<div class="page-header">
			<h4>Roles</h4>
		</div>
		<%= form_for @user do |f| %>
			
				<div class="form-group">
					<% Role.all.each do |role| %>
						<%= check_box_tag "user[role_ids][]", role.id, @user.roles.include?(role), id: dom_id(role) %>
						<%= label_tag dom_id(role), role.role.titleize %>
						<br>
					<% end %>
				</div>
			<%= f.submit "Update roles", class: "btn btn-primary" %>
		<% end %>

		<% end %>
		<%= form_for @user do |f| %>
			<%= render partial: 'shared/form_errors', :locals => {:item => @user, :container => false} %>
			<div class="page-header">
				<h4>
					Change password
				</h4>
			</div>
			<div class="form-group">
				<%= f.label :password, "Password:" %>
				<%= f.password_field :password, placeholder: "Enter new password", class: "form-control"  %>
			</div>
			<div class="form-group">
				<%= f.label :password_confirmation, "Password again:" %>
				<%= f.password_field :password_confirmation, placeholder: "Repeat new password", class: "form-control"  %>
			</div>

				<%= f.submit "Change password", class: "btn btn-primary" %>
		<% end %>

		<%= form_for @user, html: { id: "payment-form" } do |f| %>
			<div class="page-header">
				<h4>
					Credit Cards
				</h4>
			</div>
			<% @user.user_credit_cards.each do |credit_card| %>
				<%= "XXXX XXXX XXXX #{credit_card.last4}" %><br>
				<%= credit_card.card_type.titleize %><br>
			<% end %>

			<div class="page-header">
				<h4>Add New Card</h4>
			</div>
			<input class="card-amount-int" type="hidden" value="12" />
			<input class="card-currency" type="hidden" value="EUR" />

			<div class="form-row"><label>Card number</label>
			<input class="card-number" type="text" size="20" /></div>

			<div class="form-row"><label>CVC</label>
			<input class="card-cvc" type="text" size="4" /></div>

			<div class="form-row"><label>Name</label>
			<input class="card-holdername" type="text" size="20" /></div>

			<div class="form-row"><label>Expiry date (MM/YYYY)</label>
			<input class="card-expiry-month" type="text" size="2" />
			<span></span>
			<input class="card-expiry-year" type="text" size="4" /></div>

			<div class="payment-errors"></div>
			<button class="submit-button" type="submit">Submit</button>

		<% end %>
	</div>
</div>
