
	<div class="col-sm-12">

		<nav class="navbar navbar-default" role="navigation">
		  <!-- Brand and toggle get grouped for better mobile display -->
		  <div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			  <span class="sr-only">Toggle navigation</span>
			  <span class="icon-bar"></span>
			  <span class="icon-bar"></span>
			  <span class="icon-bar"></span>
			</button>
			<div class="pull-left">
				<div class="logo">
					<%= link_to root_url(:subdomain => false) do %>
						<h1><span class="theatrical-logo">t</span><span>Theatrical.co</span></h1>	
					<% end %>
				</div>
			</div>
		  </div>

		  <!-- Collect the nav links, forms, and other content for toggling -->
		  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

			<ul class="nav navbar-nav navbar-right" id="main-navigation">
				<% if current_user %>
					<li>
						<%= link_to root_url(:subdomain => get_subdomain), data: { no_turbolink: true } do %>
							<i class="fa fa-home fa-fw"></i> Home
						<% end %>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-folder-open"></i> Content <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><%= link_to events_url(:subdomain => get_subdomain) do %><i class="fa fa-ticket fa-fw"></i> Events<% end %></li>
							<li><%= link_to pages_url(:subdomain => get_subdomain ) do %><i class="fa fa-file-text-o fa-fw"></i> Pages<% end %></li>
							<li><%= link_to all_url(:subdomain => get_subdomain) do %><i class="fa fa-picture-o fa-fw"></i> Photos <% end %></li>
							<li><%= link_to people_url(:subdomain => get_subdomain) do %><i class="fa fa-users fa-fw"></i> People<% end %></li>
							<li><%= link_to menus_url(:subdomain => get_subdomain) do %><i class="fa fa-sitemap fa-fw"></i> Menus<% end %></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cogs"></i> Settings <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><%= link_to themes_url(:subdomain => get_subdomain) do %><i class="fa fa-tint fa-fw"></i> Themes<% end %></li>
							<li><%= link_to edit_user_url(current_user, :subdomain => false ) do %><i class="fa fa-user fa-fw"></i> Edit user<% end %></li>
							<li><%= link_to settings_url(current_user, :subdomain => get_subdomain) do %><i class="fa fa-cog fa-fw"></i> Site Settings<% end %></li>
						</ul>
					</li>
					<li><%= link_to logout_url(:subdomain => false) do %><i class="fa fa-lock fa-fw"></i> Log out<% end %></li>
				<% else %>
					<li>
						<%= link_to root_url() do %>
							<i class="fa fa-home fa-fw"></i> Home
						<% end %>
					</li>
					<li>
						<%= link_to login_path do %>
							<i class="fa fa-unlock-alt fa-fw"></i> Log inn
						<% end %>
					</li>
					<li>
						<%= link_to register_path do %>
							<i class="fa fa-pencil a-fw"></i> Register
						<% end %>
					</li>
				<% end %>
			</ul>
		  </div><!-- /.navbar-collapse -->
		</nav>
	</div>
	