
<% offer = f.object %>
<div class="well well-sm" id="offer_<%= offer.id %>">
	<div class="row">
		<div class="col-xs-12 col-sm-6">
		<div class="form-group">
		<%= f.label :name, "Offer name" %><br>
		<%= f.text_field :name, class: "form-control" %>
		</div>
		</div>
		<div class="col-xs-6 col-sm-3">
			<%= f.label :price %><br>
			<div class="input-group">
				<div class="input-group-btn">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Kr. <span class="caret"></span></button>
					<ul class="dropdown-menu" role="menu">
						<li><a href="#">$ USD</a></li>
						<li><a href="#">€ EUR</a></li>
						<li><a href="#">Kr.</a></li>
					</ul>
				</div><!-- /btn-group -->
				<%= f.text_field :price, class: "form-control" %>
			</div><!-- /input-group -->
		</div>
		<div class="col-xs-6 col-sm-3">
			<div class="form-group">
                <%= f.label :capacity, "Offer limit" %><br>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-users"></i></span>
                    <%= f.number_field :capacity, placeholder: "", class: "form-control"  %>
                </div>
			</div>
		</div>
	</div>
	<% if offer.id.present? %>
		<%= f.hidden_field :_destroy %>
		<%= link_to '#', class: "remove_fields", data: { type_id: "#offer_#{offer.id}" } do %>
			<i class="fa fa-trash-o"></i> Delete
		<% end %>
    <% else %>
        <span class="text-muted"><i class="fa fa-trash-o"></i> Leave empty to delete offer</span>
    <% end %>
</div>