<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @production.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @production.description %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @production.photo %>
</p>

<%= link_to 'Edit', edit_production_path(@production) %> |
<%= link_to 'Back', productions_path %>
