<br>
<%= form_for(@event) do |f| %>

<div class="row">
<div class="error-container">
    <%= render partial: 'shared/form_errors', :locals => {:item => @event} %>
</div>
    <div class="col-sm-5 col-md-4 listed-page-thumbnail">
        <%= link_to thumbnail_modal_path(:item => @event.class, :item_id => @event.id), remote: true, class: "thumbnail" do %>
            <% if @event.photo %>
                <%= image_tag @event.photo.image_url(:large_thumb).to_s, class: "img-responsive" %>
            <% else %>
                <%= image_tag "default/large_thumb_no-thumb.png", class: "img-responsive" %>
            <% end %>
        <% end %>
    </div>
        
    <div class="clearfix visible-xs"></div>
    <div class="col-sm-7 col-md-8">

        <div class="input-group">
            <%= f.text_field :name, placeholder: "#{@event.class.to_s.titleize} name...", class: "form-control input-lg" %>
            <div class="input-group-btn">
                <%= f.submit class: "btn btn-primary btn-lg" %>
            </div>
        </div>

        <h3 class="listed-page-status text-muted">
            
            <small>
                Start:
                <%= @event.start_date.strftime('%d.%m.%Y') unless @event.start_date.blank?%> 
                <%= " - " + @event.start_time.strftime('%H:%M') unless @event.start_time.blank?%>
                
                <%= " | End: " + @event.end_date.strftime('%d.%m.%Y') unless @event.end_date.blank?%>
                <%= " - " + @event.end_time.strftime('%H:%M') unless @event.end_time.blank?%>

                |
                <% if @event.production.present? %>
                    <%= link_to edit_production_path(@event.production), class: "text-muted text-no-wrap" do %>
                        <i class="fa fa-bullhorn fa-fw"></i><%= @event.production.name %>
                    <% end %>
                <% else %>
                    <i class="fa fa-bullhorn fa-fw"></i> Independent event
                <% end %>

                |
                <%= link_to @event, method: :delete, data: { confirm: 'Are you sure?' }, class: "text-muted text-no-wrap" do %>
                     <i class="fa fa-trash-o fa-fw"></i> Delete
                <% end %>
            </small>
        </h3>

    </div> <!-- End of list page thumbnail -->
    <div class="col-xs-12">
        <div class="row">
            <div class="col-sm-6  form-group">
                <div class="row">
                    <div class="col-xs-12">
                        <%= f.label :start_date, "Event start" %>
                    </div>
                    <div class="col-xs-7 col-md-8">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            <%= f.text_field :start_date, value: ( @event.start_date.strftime('%d.%m.%Y') unless @event.start_date.blank?), placeholder: "Start date", class: "form-control date-field" %>
                        </div>
                    </div>
                    <div class="col-xs-5 col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
                            <%= f.text_field :start_time, value: ( @event.start_time.strftime('%H:%M') unless @event.start_time.blank?), placeholder: "Start time", class: "form-control time-field" %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6  form-group">
                <div class="row">
                    <div class="col-xs-12">
                        <%= f.label :end_date, "Event ends" %>
                    </div>
                    <div class="col-xs-7 col-md-8">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            <%= f.text_field :end_date, value: ( @event.end_date.strftime('%d.%m.%Y') unless @event.end_date.blank?), placeholder: "Start date", class: "form-control date-field" %>
                        </div>
                    </div>
                    <div class="col-xs-5 col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
                            <%= f.text_field :end_time, value: ( @event.end_time.strftime('%H:%M') unless @event.end_time.blank?), placeholder: "Start time", class: "form-control time-field" %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class=" form-group">
                    <%= f.label :venue %><br>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-university"></i></span>
                        <%= f.text_field :venue, class: "form-control"  %>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-8">
                <div class=" form-group">
                    <%= f.label :address %><br>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                        <%= f.text_field :address, class: "form-control"  %>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <%= f.label :description %>
                    <%= f.text_area :description, placeholder: "Event Description", rows: 5, class: "form-control"  %>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>

<% end %>
