<%= form_for(@page) do |f| %>

<div class="clearfix">

  <div class="left-column">

    <div class="error-container">
        <%= render partial: 'shared/form_errors', :locals => {:item => @page} %>
    </div>

    <div class="field">
        <h1 class="page-title-header"><%= f.text_field :title, placeholder: "Enter title", autofocus: true, class: "page-title-field" %></h1>
    </div>


    <div class="field">
        <%= render 'rich_content_toolbar' %>
        <%= f.text_area :content, id: 'wysihtml5-content', placeholder: "Enter content here", class: "rich-editor content-editor" %>
    </div>

    <div class="field">
        <h3 class="page-excerpt-heading">Page excerpt</h3>
        <%= render 'rich_excerpt_toolbar' %>
        <%= f.text_area :excerpt, id: 'wysihtml5-excerpt', placeholder: "Enter excerpt here", class: "rich-editor excerpt-editor"  %>
    </div>

  </div>


    <div class="right-column">
        <div class="field">
            <%= select_tag :status, options_for_select(available_statuses), selected: :status, class: "page-status-select" %>
        </div>
        <div class="actions">
            <% if @page.new_record? %>
                <%= f.submit "Create page", class: "submit-page" %>
            <% else %>
                <%= f.submit "Update page", class: "submit-page" %>
            <% end %>
            <%= link_to 'Cancel', pages_path, class: "cancel-page" %>
        </div>
    </div>

</div>

<% end %>
