<!-- Modal -->
<div class="modal fade" id="mediaModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog media-modal-dialog" id="media-modal-dialog">


    </div>
</div>


<%= form_for(@page) do |f| %>
    
    <hr>

    <div class="error-container">
        <%= render partial: 'shared/form_errors', :locals => {:item => @page} %>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-8">
            <div class="form-group">
                <%= f.text_field :title, placeholder: "Enter title", autofocus: true, class: "form-control input-lg" %>
            </div>
            <div class="form-group">
                <%= f.text_field :second_title, placeholder: "Enter secondary title", autofocus: true, class: "form-control input-lg" %>
            </div>
        </div>

        <div class="col-xs-12 col-sm-4 page-controls">
            <div class="form-group">
                <%= f.select :status, options_for_select(available_statuses, @page.status || 'draft'), {} , :class => "form-control input-lg"  %>
            </div>
            
            <div class="form-group page-control-buttons">
                <% if @page.new_record? %>
                    <%= f.submit class: "btn btn-primary btn-lg" %>
                <% else %>
                    <%= f.submit class: "btn btn-primary btn-lg" %>
                    <%= link_to 'Show', @page, class: "btn btn-link" %>
                <% end %>
                <%= link_to 'Cancel', pages_path, class: "btn btn-link" %>
            </div>

        </div>

    </div>

    <div class="form-group">
        <% render 'rich_content_toolbar' %>

        <% f.text_area :content, id: 'wysihtml5-content', placeholder: "Enter content here", class: "form-control rich-editor content-editor", rows: "20" %>
    </div>

    

    <div class="row">
        <div class="col-sm-8">
            <div class="form-group">
                
                <% render 'rich_excerpt_toolbar' %>
                <% f.text_area :excerpt, id: 'wysihtml5-excerpt', placeholder: "Enter excerpt here", class: "form-control rich-editor excerpt-editor", rows: "10"  %>
            </div>
        </div>
        

        
    </div>

<% end %>

        <div class="row" id="page_items">
            <%= nested_page_items(@page.items) %>
        </div>


    <hr>
    <div class="row">
        <div class="col-sm-3">
            <%= link_to "Add Text field", add_text_item_path(@page), method: :post, remote: true, class: "btn btn-default btn-block btn-lg" %>
        </div>
        <div class="col-sm-3">
            <%= link_to "Add Gallery", add_gallery_path(@page), method: :post, remote: true, class: "btn btn-default btn-block btn-lg" %>
        </div>
        <div class="col-sm-3">
            <%= link_to "Add Photos", photos_gallery_modal_path(:page_id => @page.id ), remote: true, class: "btn btn-default btn-block btn-lg" %>
        </div>
        <div class="col-sm-3">
            <%= link_to "Add Pages", pages_gallery_modal_path(:page_id => @page.id ), remote: true, class: "btn btn-default btn-block btn-lg" %>
        </div>
    </div>
