<li class="dd-item" id="item_<%= menu_item.id %>" data-id="<%= menu_item.id %>"> 
	<div class="dd-handle">
	    <i class="fa fa-bars fa-fw text-muted"></i>
	</div>

	<span class="menu-item-name"><%= menu_item.name %></span>

	<span class="pull-right">
		<%= link_to edit_menu_item_path(menu_item), :remote => true, class: "btn btn-default" do %>
			<i class="fa fa-pencil-square"></i>
		<% end %>
		<%= link_to menu_item, method: :delete, :remote => true, class: "btn btn-default" do %>
	  		<i class="fa fa-trash-o"></i>
	    <% end %>
	</span>

</li>