<!-- Modal -->
<div class="modal fade" id="mediaModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog media-modal-dialog" id="media-modal-dialog">


    </div>
</div>

<div class="row pages">
    <div class="col-xs-12 new-link">
        <%= link_to new_page_path, class: "btn btn-default pull-right" do %>
            <i class="fa fa-file-text-o"></i> New Page
        <% end %>
    </div>

    <% @pages.each do |page| %>
        <div class="page clearfix">
            
            <div class="col-sm-5 col-md-4 listed-page-thumbnail">
                <%= link_to edit_page_path(page), class: "thumbnail" do %>
                    <% if page.photo %>
                        <%= image_tag page.photo.image_url(:large_thumb).to_s, class: "img-responsive" %>
                    <% else %>
                        <%= image_tag "default/large_thumb_no-thumb.png", class: "img-responsive" %>
                    <% end %>
                <% end %>
            </div>
            
            <div class="clearfix visible-xs"></div>
            <div class="col-sm-7 col-md-8">
                <h2 class="listed-page-header">
                    <%= link_to edit_page_path(page) do %>
                        <i class="fa fa-pencil-square text-muted"></i>
                        <%= page.name %>

                    <% end %>
                </h2>
                <h3 class="listed-page-status text-muted">
                    
                    <small>
                        <%= link_to page_settings_path(page), remote: true, class: "text-muted text-no-wrap" do %>
                            <i class="fa fa-cogs fa-fw"></i> Settings
                        <% end %>
                        | 
                        <%= link_to page_path(page), data: { no_turbolink: true }, class: "text-muted text-no-wrap" do %>
                            <i class="fa fa-eye fa-fw"></i> Show
                        <% end %>

                        |
                        <%= link_to page, method: :delete, data: { confirm: 'Are you sure?' }, class: "text-muted text-no-wrap" do %>
                             <i class="fa fa-trash-o fa-fw"></i> Delete
                        <% end %>

                        |
                        <%= link_to thumbnail_modal_path(:item => page.class, :item_id => page.id), remote: true, class: "text-muted text-no-wrap" do %>
                            <i class="fa fa-picture-o fa-fw"></i> Thumbnail
                        <% end %>

                        <% if page != current_tenant.home %>
                            |
                            <%= link_to set_home_page_path(page), data: { confirm: 'Are you sure you want this page as your home page?' }, method: :post, class: "text-muted text-no-wrap" do %>
                                <i class="fa fa-home fa-fw"></i> Homepage
                            <% end %>
                        <% end %>

                        |
                        <%= link_to toggle_page_status_path(page), remote: true, class: "text-muted text-no-wrap", id: "toggle_status_link_#{page.id}" do %> 
                            <i class="fa <%= page.status == 'published' ? 'fa-check-square' : 'fa-square-o' %> fa-fw"></i> <%= page.status.titlecase %>
                        <% end %>
                    </small>
                </h3>
                <p><%= truncate(page.excerpt, :length => 350) unless page.excerpt.blank? %></p>
            </div>

        </div>
        
    <% end %>

    <% if @pages.empty? %>
        <div class="col-xs-12">
            <%= link_to new_page_path do %>
                <div class="alert alert-info">
                    <p>
                        <strong>No pages created: </strong>To create a new page click here.
                    </p>
                </div>
            <% end %>
        </div>
    <% end %>

</div>

