<!-- Modal -->
<div class="modal fade" id="mediaModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog media-modal-dialog" id="media-modal-dialog">


    </div>
</div>

<div class="row pages">
    <div class="col-xs-12 new-link">
        <%= link_to new_page_path, class: "btn btn-default pull-right" do %>
            <i class="fa fa-file-text-o"></i> New Page
        <% end %>
    </div>

    <% @pages.each do |page| %>
        <div class="page clearfix">
            <%= link_to edit_page_path(page) do %>
                <div class="col-sm-5 col-md-4 listed-page-thumbnail">
                    <% if page.photo %>
                        <%= image_tag page.photo.image_url(:large_thumb).to_s, class: "thumb img-responsive" %>
                    <% else %>
                        <%= image_tag "default/large_thumb_no-thumb.png", class: "thumb img-responsive" %>
                    <% end %>
                </div>
            <% end %>
            <div class="clearfix visible-xs"></div>
            <div class="col-sm-7 col-md-8">
                <h1 class="listed-page-header"><%= page.name %></h1>
                <h3 class="listed-page-status text-muted"><%= page.status.titlecase %></h3>
                <p><%=h truncate(page.excerpt, :length => 350) %></p>
                <div class="btn-group">
                    <%= link_to 'Show', page, data: { no_turbolink: true }, class: "btn btn-default btn-xs" %>
                    <%= link_to 'Edit', edit_page_path(page), class: "btn btn-default btn-xs"  %>
                    <%= link_to 'Set as home', set_home_page_path(page), method: :post, class: "btn btn-default btn-xs" %>
                </div>
                <%= link_to 'Delete', page, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default btn-xs"  %>
            </div>

        </div>
        
    <% end %>

    <% if @pages.empty? %>
        <div class="col-xs-12">
            <%= link_to new_page_path do %>
                <div class="alert alert-info">
                    <p>
                        <strong>No pages created: </strong>To create a new page click here.
                    </p>
                </div>
            <% end %>
        </div>
    <% end %>

</div>

