<div class="row pages">
    <div class="col-xs-12 new-link">
        <%= link_to 'New Page', new_page_path, class: "btn btn-default pull-right" %>
    </div>

    <% @pages.each do |page| %>
        <div class="page clearfix">
            <%= link_to edit_page_path(page) do %>
                <div class="col-sm-5 col-md-4 listed-page-thumbnail">
                    <% if page.photo %>
                        <%= image_tag page.photo.image_url(:large_thumb).to_s, class: "thumb img-responsive" %>
                    <% else %>
                        <table>
                            <tr>
                                <td>
                                    <i class="fa fa-picture-o"></i>
                                </td>
                            </tr>
                        </table>
                    <% end %>
                </div>
            <% end %>
            
            <div class="col-sm-7 col-md-8">
                <h1 class="listed-page-header"><%= page.title %></h1>
                <h3 class="listed-page-status text-muted"><%= page.status.titlecase %></h3>
                <p><%=h truncate(page.excerpt, :length => 350) %></p>
                <div class="btn-group">
                    <%= link_to 'Show', page, class: "btn btn-default btn-xs" %>
                    <%= link_to 'Edit', edit_page_path(page), class: "btn btn-default btn-xs"  %>
                </div>
                <%= link_to 'Destroy', page, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default btn-xs"  %>
            </div>

        </div>
        
    <% end %>

</div>

