
	<% if page_item.pageable_type == "Page"  %>


		<div class="col-xs-12 col-sm-6 col-md-4 <%= page_item.parent.nil? ? 'page_item' : "gallery_item_#{page_item.parent.id}" %> " id="page_item_<%= page_item.id %>" data-id="<%= page_item.id %>" data-gallery-id="<%= page_item.parent.try(:id) %>" >
			
			<div class="thumbnail">
			
                <% if page_item.pageable.photo %>
                    <%= image_tag page_item.pageable.photo.image_url(:small_thumb), class: "img-responsive"%>
                <% else %>
                    <%= image_tag "default/large_thumb_no-thumb.png", class:  page_item.root? ? "img-responsive"  : "img-responsive handle_gallery" %>
                <% end %>
			
        		<div class="caption">
					<h4 class="list-group-item-heading">
						<i class="fa fa-file-text-o fa-fw text-muted"></i> <%= page_item.pageable.name %>
					</h4>
				</div>
			</div>

			<div class="btn-group btn-group-justified page-item-controls">
				<%= link_to "Edit", root_path, class: "btn btn-default" %>	

				<%= link_to "Delete", page_item, class: "btn btn-default", method: :delete, remote: true %>

				<%= link_to "#", class: "btn btn-default order-up", data: { page_item: "#page_item_#{page_item.id}", sort_url: sort_page_items_path() }  do %>
					<i class="fa fa-caret-up"></i>
				<% end %>
				<%= link_to "#", class: "btn btn-default order-down", data: { page_item: "#page_item_#{page_item.id}", sort_url: sort_page_items_path() }  do %>
					<i class="fa fa-caret-down"></i>
				<% end %>
			</div>

		</div>

	<% end %>

	<% if page_item.pageable_type == "Photo" %>
		<div class="col-xs-12 col-sm-6 col-md-4 <%= page_item.parent.nil? ? 'page_item' : "gallery_item_#{page_item.parent.id}"  %>" id="page_item_<%= page_item.id %>" data-id="<%= page_item.id %>" data-gallery-id="<%= page_item.parent.try(:id) %>" >
			
			<div class="thumbnail">
			
				<%= image_tag page_item.pageable.image_url(:small_thumb), class: "img-responsive "  %>
			
        		<div class="caption">
					<h4 class="list-group-item-heading">
						<i class="fa fa-picture-o fa-fw text-muted"></i> <%= page_item.pageable.name %>
					</h4>
				</div>
			</div>
			<div class="btn-group btn-group-justified page-item-controls">
				<%= link_to "Edit", root_path, class: "btn btn-default" %>	

				<%= link_to "Delete", page_item, class: "btn btn-default", method: :delete, remote: true %>

				<%= link_to "#", class: "btn btn-default order-up", data: { page_item: "#page_item_#{page_item.id}", sort_url: sort_page_items_path() }  do %>
					<i class="fa fa-caret-up"></i>
				<% end %>
				<%= link_to "#", class: "btn btn-default order-down", data: { page_item: "#page_item_#{page_item.id}", sort_url: sort_page_items_path() }  do %>
					<i class="fa fa-caret-down"></i>
				<% end %>
			</div>
		</div>

	<% end %>

	<% if page_item.pageable_type == "PageTitle" %>
		<div class="col-xs-12 page_item" id="page_item_<%= page_item.id %>" data-id="<%= page_item.id %>">
			<div class="list-group-item page-title-item" >
			
				<div class="page-title-content">
					<% if page_item.pageable.title.present? %>
						<h1>
							<%= page_item.pageable.title %>
						</h1>
					<% else %>
						<h1 class="text-muted">
							Please add title
						</h1>
					<% end %>

					<div class="list-item-footer">
						<%= link_to "Edit", edit_page_title_path(page_item.pageable, page_item_id: page_item.id), remote: true, class: "btn btn-default edit-text-btn" %>
						<%= link_to "Remove", page_title_path(page_item.pageable, page_item_id: page_item.id), method: :delete, remote: true, class: "btn btn-default" %>
						
						<span class="pull-right">
							<%= link_to "#", class: "btn btn-default order-up", data: { page_item: "#page_item_#{page_item.id}", sort_url: sort_page_items_path() }  do %>
								<i class="fa fa-caret-up"></i>
							<% end %>
							<%= link_to "#", class: "btn btn-default order-down", data: { page_item: "#page_item_#{page_item.id}", sort_url: sort_page_items_path() } do %>
								<i class="fa fa-caret-down"></i>
							<% end %>
						</span>

					</div>

				</div>

			</div>
		</div>
	<% end %>


	<% if page_item.pageable_type == "Text" %>
		<div class="col-xs-12 page_item" id="page_item_<%= page_item.id %>" data-id="<%= page_item.id %>">
			<div class="list-group-item text-item" >
				<div class="page-header">
					<h4 class="list-group-item-heading">
						<i class="fa fa-pencil text-muted"></i>&nbsp;
						Text
					</h4>
				</div>
				
				<div class="text-content">
					<p>
						<%= page_item.pageable.content.try(:html_safe)  %>
	  				</p>


					<div class="list-item-footer">
						<%= link_to "Edit", edit_text_path(page_item.pageable, page_item_id: page_item.id), remote: true, class: "btn btn-default edit-text-btn" %>
						<%= link_to "Remove", text_path(page_item.pageable, page_item_id: page_item.id), method: :delete, remote: true, class: "btn btn-default" %>
						
						<span class="pull-right">
							<%= link_to "#", class: "btn btn-default order-up", data: { page_item: "#page_item_#{page_item.id}", sort_url: sort_page_items_path() }  do %>
								<i class="fa fa-caret-up"></i>
							<% end %>
							<%= link_to "#", class: "btn btn-default order-down", data: { page_item: "#page_item_#{page_item.id}", sort_url: sort_page_items_path() } do %>
								<i class="fa fa-caret-down"></i>
							<% end %>
						</span>

					</div>

				</div>

			</div>
		</div>
	<% end %>


    
	<% if page_item.gallery %>
		 <div class="col-xs-12 page_item" id="page_item_<%= page_item.id %>" data-id="<%= page_item.id %>" data-gallery="true">
			<div class="list-group-item " >
				
				<div class="page-header">
					<h4 class="list-group-item-heading">
						<i class="fa fa-puzzle-piece text-muted"></i>&nbsp;
						Gallery 
					</h4>
				</div>

				
				<div class="row" id="gallery_<%= page_item.id %>">
					<%= nested_page_items(sub_item) if page_item.has_children? %>
				</div>

				<div class="list-item-footer">
					<%= link_to "Add Photos", photos_gallery_modal_path(:page_id => page_item.page_id, :page_item_id => page_item.id ), remote: true, class: "btn btn-default" %>
					<%= link_to "Add Pages", pages_gallery_modal_path(:page_id => page_item.page_id, :page_item_id => page_item.id ), remote: true, class: "btn btn-default" %>
					<%= link_to "Remove Gallery", page_item, method: :delete, remote: true, class: "btn btn-default" %>

					<span class="pull-right">
						<%= link_to "#", class: "btn btn-default order-up", data: { page_item: "#page_item_#{page_item.id}", sort_url: sort_page_items_path() } do %>
							<i class="fa fa-caret-up"></i>
						<% end %>
						<%= link_to "#", class: "btn btn-default order-down", data: { page_item: "#page_item_#{page_item.id}", sort_url: sort_page_items_path() } do %>
							<i class="fa fa-caret-down"></i>
						<% end %>
					</span>
				</div>

			</div>
		</div>
	<% end %>