
	<% if page_item.pageable_type == "Page"  %>

			<div class="list-group-item" id="page_item_<%= page_item.id %>" data-position="<%= page_item.position %>">
				<div class="row">
					<div class="col-xs-4 col-sm-3 col-lg-2 list-item-image">
		                <% if page_item.pageable.photo %>
		                    <%= image_tag page_item.pageable.photo.image_url(:small_thumb), class: "img-responsive"%>
		                <% else %>
		                    <%= image_tag "no-thumb.png", class:  page_item.root? ? "img-responsive"  : "img-responsive handle_gallery" %>
		                <% end %>
	                </div>
	                <div class="col-xs-8 col-sm-9 col-lg-10">
						<h4 class="list-group-item-heading"><%= page_item.pageable.title %>
							<br>
							<small>
								<i class="fa fa-file-text-o fa-fw"></i> Page
								<%= link_to page_item, method: :delete, remote: true do %>
									<i class="fa fa-trash-o"></i>
								<% end %>
							</small>

						</h4>
						
					</div>
				</div>
			</div>
		
	<% end %>

	<% if page_item.pageable_type == "Photo" %>

		<div class="list-group-item" id="page_item_<%= page_item.id %>" data-position="<%= page_item.position %>">
			<div class="row">
				<div class="col-xs-4 col-sm-3 col-lg-2 list-item-image">
					<%= image_tag page_item.pageable.image_url(:small_thumb), class: "img-responsive "  %>
                </div>
                <div class="col-xs-8 col-sm-9 col-lg-10">
					<h4 class="list-group-item-heading"><%= page_item.pageable.name %>
						<br>							
						<small>
							<i class="fa fa-file-text-o fa-fw"></i> Photo
							<%= link_to page_item, method: :delete, remote: true do %>
								<i class="fa fa-trash-o"></i>
							<% end %>
						</small>
				</div>

			</div>
		</div>
					
	<% end %>


	<% if page_item.pageable_type == "Text" %>

		<div class="list-group-item" id="page_item_<%= page_item.id %>" data-position="<%= page_item.position %>">
			<div class="page-header">
				<h4 class="list-group-item-heading">Text</h4>
			</div>
			
			<div class="text-content">
				<%= page_item.pageable.content  %>
  			</div>

  			<br>

			<div class="list-item-footer">
				<%= link_to "Remove", page_item, method: :delete, remote: true, class: "btn btn-default" %>
			</div>

		</div>
					
	<% end %>


    
	<% if page_item.gallery %>
		
			<div class="list-group-item" id="page_item_<%= page_item.id %>" data-position="<%= page_item.position %>">
			
			<div class="page-header">
				<h4 class="list-group-item-heading">Gallery</h4>
			</div>

			<span id="gallery_<%= page_item.id %>">
				<%= nested_page_items(sub_item) if page_item.has_children? %>
			</span>
			<div class="list-item-footer">
				<%= link_to "Add Photos", photos_gallery_modal_path(:page_id => page_item.page_id, :page_item_id => page_item.id ), remote: true, class: "btn btn-default" %>
				<%= link_to "Add Pages", pages_gallery_modal_path(:page_id => page_item.page_id, :page_item_id => page_item.id ), remote: true, class: "btn btn-default" %>
				<%= link_to "Remove Gallery", page_item, method: :delete, remote: true, class: "btn btn-default" %>
			</div>

			</div>
	<% end %>