<div class="modal-header" >
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Page Item Settings</h4>
</div>

<%= form_for @page_item do |f| %>
   
    <div class="modal-body clearfix" >

	    <div class="error-container">
	        <%= render partial: 'shared/form_errors', :locals => {:item => @page_item} %>
	    </div>

		<div class="form-group">
			<%= f.label :design, "Custom design:" %>
			<%= f.select :design, CodeFile.where(theme_id: current_tenant.theme.id, hierarchy: 'snippet' ).where( "? = ANY(available_to)", @page_item.is_type.downcase.split(',') ).map {|t| [t.display_name, t.name]}, {:include_blank => "- Default -" }, {class: "form-control"} %>
		</div>

		<div class="form-group">
			<%= f.label :item_class, "Custom class:" %>
			<%= f.text_field :item_class, class: "form-control" %>
		</div>

	    <% if %w(Page Photo).include?(@page_item.pageable_type) %>
			<div class="form-group">
				<%= f.label :item_link, "Custom link:" %>
				<%= f.text_field :item_link, placeholder: "http://", class: "form-control", id: "custom_link_field", disabled: @page_item.no_item_link %>
			</div>

			<div class="form-group">
				<%= f.check_box :no_item_link %>
				<%= f.label :no_item_link, "No link" %>
			</div>

			<div class="form-group">
				<%= f.label :title, "Custom title:" %>
				<%= f.text_field :title, placeholder: "Custom title", class: "form-control" %>
			</div>    

	        <div class="form-group">
	        	<%= render 'pages/rich_excerpt_toolbar' %>
	        	<%= f.text_area :description, id: 'wysihtml5-excerpt', placeholder: "Custom Description", class: "form-control rich-editor excerpt-editor"  %>
	        </div>
        <% end %>

  	</div>

	<div class="modal-footer">
	    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	    <%= f.submit "Save", class: "btn btn-primary" %>
	</div>

<% end %>


<script type="text/javascript">
var excerpt;

if ($("#wysihtml5-excerpt").length > 0) {
  excerpt = new wysihtml5.Editor("wysihtml5-excerpt", {
    toolbar: "wysihtml5-excerpt-toolbar",
    stylesheets: "<%= stylesheet_path('wysiwyg') %>",
    parserRules: wysihtml5ParserRules
  });
}
</script>