<%= form_for @photo, :html => { :multipart => true } do |f| %>

  <% if @photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

      <ul>
      <% @photo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="clearfix">
  
    <div class="photo">

      <% if @photo.new_record? %>
        <%= f.label :image, class: "file-field-container" do %>   
            <table>
                <tr>
                    <td>
                        Select image (click here)
                    </td>
                </tr>
            </table>
        <% end %>
      <% else %>
        <%= image_tag @photo.image_url(:medium).to_s %><br>
      <% end %>

    </div>
  
    <div class="fields">
      
      <%= f.file_field :image, class: "upload-photo-field" %>
      <%= f.hidden_field :image_cache %>


      <%= f.text_field :name, class: "photo-name-field", :placeholder => "Title" %>

      <%= f.text_field :edit_tag_list, class: "photo-tag-field", :placeholder => "Tags" %>
      <% #if allow_param? :photos, :description %>
        <%= f.text_area :description, class: "description-field", :placeholder => "Short description" %>
      <% #end %>
      <div class="actions">
        <%= f.submit "Submit", class: "submit-photo" %>
        <%= link_to "Delete", @photo, method: :delete, class: "delete-photo", data: { confirm: 'Are you shure?' } %>
      </div>

    </div>
  </div>

<% end %>
