
<% render 'tag_filters' %>

<div id="thumbnails" class="clearfix">
    
    <% @photos.try(:each) do |photo| %>
      <div class="thumb">
        <span class="thumb-meta rounded">
            <% if show_allowed("photos","edit") %>
            <%= link_to 'Edit', edit_photo_path(photo), class: "thumb-meta-edit" %> |
            <% end %>
            <% if show_allowed("photos","delete") %>
            <%= link_to 'Delete', photo, method: :delete, class: "thumb-meta-delete", data: { confirm: 'Are you sure?' } %>
            <% end %>
        </span>
        <p>
            <%= link_to photo do %>
                <%= image_tag photo.image_url(:thumb).to_s %>
            <% end %>
            <p><%= link_to photo.name, photo, class: "photo-name" %></p>
            <p class="photo-tags">
                <% photo.tag_list.each do |tag| %>
                    <span class="tag"><%= link_to tag, "/photos/tags/#{tag}" %></span>
                <% end %>
            </p>
        </p>
      </div>
    <% end %>

</div>

