{% for photo in photos %}
<a href="{{photo.link}}">{{ photo.name }}</a>
<img src="{{ photo.thumbnail }}" alt="{{ photo.name }}">
	Tags:
	{% for tag in photo.tag_to_list %}
		{{ tag }}
	{% endfor %}
{% endfor %}