
<div class="row">

    <div class="col-xs-12 col-sm-8">

        <div class="page-header">
            <h3>Theme files</h3>
        </div>
        <table class="table table-striped">
            
                <thead>
                    <th>Hierarchy:</th>
                    <th>File name:</th>
                    <th>Display name:</th>
                    <th></th>
                </thead>
           
            <tbody>
                <% @code_files.group_by(&:hierarchy).each do |hierarchy, code_files| %>

                    <% code_files.each do |code_file| %>
                        <tr>
                            <td>
                                <span class="label label-default"><%= code_file.hierarchy %></span>
                            </td>
                            <td>
                                <% if code_file.static_file.blank? %>
                                    <%= link_to code_file.name, edit_theme_code_file_path(code_file.theme.id, code_file.id), class: "" %>
                                <% else %>
                                    <i class="fa fa-file"></i>
                                    <%= code_file.name %> 
                                <% end %>
                            </td>
                            <td>
                                <%= code_file.display_name %>
                            </td>
                            <td>     
                                <%= link_to theme_code_file_path(code_file.theme.id, code_file.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "" do %>
                                    <i class="fa fa-trash-o"></i> Delete
                                <% end %>
                            </td>
                        </tr>
                    <% end %>

                <% end %>
            </tbody>
        </table>

    </div>

    <div class="col-xs-12 col-sm-4">

        <div class="page-header">
            <h3>Thumbnail</h3>
        </div>
        <%= form_for(@theme) do |f| %>
            <div class="input-group">
                <%= f.label :thumbnail do %>
                    <% if @theme.thumbnail.present? %>
                        <%= image_tag @theme.thumbnail_url, class: "theme-preview-image img-responsive" %>
                    <% else %>
                        <%= image_tag "default/large_thumb_no-thumb.png", class: "theme-preview-image img-responsive" %>
                    <% end %>
                <% end %>
              <%= f.file_field :thumbnail, class: "form-control" %>
              <%= f.submit class: "btn btn-primary pull-right" %>
            </div>
            
        <% end %>


        <div class="page-header">
            <h3>New file</h3>
        </div>
        <div class="well">
            <%= form_for([@theme, @code_file]) do |f| %>
                <div class="error-container">
                    <%= render partial: 'shared/form_errors', :locals => {:item => @code_file} %>
                </div>
                <div class="form-group">
                    <%= f.label :name, "File name" %>
                    <%= f.text_field :name, class: "form-control" %>
                </div>
                
                <div class="form-group">
                    <%= f.label :hierarchy %>
                    <%= f.select :hierarchy, options_for_select([["Layout", "layout"],["Template", "template"],["Snippet", "snippet"],["Asset", "asset"]], @code_file.hierarchy), {}, { class: "form-control"} %>
                </div>
                
                <div class="form-group" id="static_file_fields">
                    <%= f.label :static_file %> 
                    <%= f.file_field :static_file, class: "" %>
                    <br>
                </div>


                <% if @code_file.hierarchy == 'snippet' %>
                    <div class="form-group">
                      <%= f.label :snippet_type, "Snippet for:" %>
                      <%= f.select :snippet_type, [["Page", "page"],["Photo", "photo"], ["Text", "text"], ["Title", "title"]], {:include_blank => true }, {:multiple => true, class: "form-control"} %>
                    </div>
                <% end %>

                <%= f.submit "Cancel", :type => "reset", class: "btn btn-default" %>
                <%= f.submit "New file", class: "btn btn-primary pull-right" %>

            <% end %>
        </div>

        <div class="page-header">
            <h3>Publish Theme</h3>
        </div>
        <%= link_to "Publish Theme", publish_theme_path(@theme), data: { no_turbolink: true }, class: "btn btn-default btn-block" %>
        <div class="help-block">Attention: This will copy <%= @theme.name %> to Public Themes.</div>
    </div>

</div>

