<% if @page_title.title.present? %>
	<h1>
		<%= @page_title.title %>
	</h1>
<% else %>
	<h1 class="text-muted">
		Please add title
	</h1>
<% end %>
<div class="list-item-footer">
	<%= link_to "Edit", edit_page_title_path(@page_title, page_item_id: @page_item), remote: true, class: "btn btn-default edit-page-title-btn" %>
	<%= link_to "Remove", page_title_path(@page_title, page_item_id: @page_item), method: :delete, remote: true, class: "btn btn-default" %>
	<span class="pull-right">
		<%= link_to "#", class: "btn btn-default order-up", data: { page_item: "#page_item_#{@page_item}", sort_url: sort_page_items_path() }  do %>
			<i class="fa fa-caret-up"></i>
		<% end %>
		<%= link_to "#", class: "btn btn-default order-down", data: { page_item: "#page_item_#{@page_item}", sort_url: sort_page_items_path() } do %>
			<i class="fa fa-caret-down"></i>
		<% end %>
	</span>
</div>