<%= form_for(@text, :remote => true) do |f| %>
    <div class="error-container">
        <%= render partial: 'shared/form_errors', :locals => {:item => @text} %>
    </div>
    <div class="form-group">
        <div id="wysihtml5-content-toolbar_<%= @page_item %>" class="rich-editor-toolbar btn-toolbar" style="display: none;">
            <div class="btn-group">
                <a class="btn btn-default" data-wysihtml5-command="bold"><i class="fa fa-bold fa-fw"></i></a>
                <a class="btn btn-default" data-wysihtml5-command="italic"><i class="fa fa-italic fa-fw"></i></a>
                <a class="btn btn-default" data-wysihtml5-command="underline"><i class="fa fa-underline fa-fw"></i></a>
                <a class="btn btn-default" data-wysihtml5-command="justifyLeft"><i class="fa fa-align-left fa-fw"></i></a>
                <a class="btn btn-default" data-wysihtml5-command="justifyCenter"><i class="fa fa-align-center fa-fw"></i></a>
                <a class="btn btn-default" data-wysihtml5-command="justifyRight"><i class="fa fa-align-right fa-fw"></i></a>  
                <a class="btn btn-default" data-wysihtml5-command="insertOrderedList"><i class="fa fa-list-ol fa-fw"></i></a>
                <a class="btn btn-default" data-wysihtml5-command="insertUnorderedList"><i class="fa fa-list-ul fa-fw"></i></a>
            </div>
            <a class="btn btn-default" data-wysihtml5-action="change_view" href="javascript:;" unselectable="on"><i class="fa fa-code"></i></a>
        </div>

        
             
        <%= f.text_area :content, class: "form-control rich-editor content-editor", id: "wysihtml5-content_#{ @page_item }" %>
        <%= hidden_field_tag :page_item, @page_item %>    
    </div>
    <div class="list-item-footer">
        <%= f.submit class: "btn btn-default"  %>
        <%= link_to "Cancel", cancel_text_update_path(@text, :page_item => @page_item), remote: true, class: "btn btn-default" %>
        <% link_to "Remove", page_item_path(@page_item), method: :delete, remote: true, class: "btn btn-default" %>
    </div>
<% end %>
