<!DOCTYPE html>
<html>
<head>
  <title>Theatrical</title>
  <%= favicon_link_tag 'favicons/favicon.png' %>
	<script type="text/javascript">
		PAYMILL_PUBLIC_KEY= '<%= ENV['paymill_public'] %>';
	</script>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "https://bridge.paymill.com/", "application", params[:controller], "data-turbolinks-track" => true  %>
  <% if params[:action] != 'home' %>
  	<script><%= render :file => "layouts/uservoice.js" %></script>
  <% end %>
  <%= csrf_meta_tags %>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

	<div id="header" class="header">

		<div class="container">
			<div class="row">
				<%= render 'shared/navigation' %>
			</div>
		</div> <!-- container -->

	</div>

<div class="modal fade" id="photo-modal">

    <div class="modal-dialog">
        <div class="modal-content" id="photo-modal-content">

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->

</div><!-- /.modal -->

<div class="modal fade" id="mediaModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog media-modal-dialog" id="media-modal-dialog">


    </div>
</div>

	<div class="main">
		<div class="container">
			<%= render 'shared/notice' %>
			<%= yield %>
		</div>
		<%= yield :front_page %>
	</div>
	<div id="footer" class="footer">  
		<%= render 'shared/google_analytics' %>
	</div>
</body>
</html>
