<!DOCTYPE html>
<html>
<head>
  <title>Theatrical</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <script><%= render :file => "layouts/uservoice.js" %></script>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

	<div id="header" class="header">

		<div class="container">
			<div class="row">
				<div class="col-xs-8  col-sm-3 pull-left">
					<div class="logo">
						<%= link_to root_url(:subdomain => false) do %>
							<h1><span class="theatrical-logo">t</span>Theatrical.co</h1>	
						<% end %>
					</div>
				</div>
				<%= render 'shared/navigation' %>
			</div>
		</div> <!-- container -->

	</div>


	<div class="main">
		<div class="container">
			<%= render 'shared/notice' %>
			<%= yield %>
		</div>

	</div>
	<div id="footer" class="footer">  </div>

</body>
</html>
